.hero-metrics_wrapper {
  padding-bottom: $site-margins;
}

.hero-metric {
  padding: $base-padding;
  text-align: center;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    background-color: $branding-bright;
    border-radius: $border-radius;
    color: $color-white;
    text-decoration: none;

    &:nth-child(2),
    &:nth-child(6) {
      background-color: $branding-darkest;
    }

    &:nth-child(3) {
      background-color: $branding-light;
      color: $branding-darkest;
    }

    &:nth-child(4) {
      background-color: $branding-medium;
    }
  }

  @media screen and (max-width: $medium-screen) {
   @include span-columns(6);

   &:nth-child(2n) {
    @include omega();
   }
  }

  @media screen and (min-width: $medium-screen)  {
   @include span-columns(4);

   &:nth-child(3n) {
    @include omega();
   }
  }

}

.hero-metric_number {
  margin-top: 0;
}

.hero-metric_description {
  margin-bottom: 0;
}


// Winners Archive

.winners-archive-page {
  padding-bottom: $site-margins;
  padding-top: $site-margins;
}

.winners-title,
.winners-title:visited {
  @extend h3;
  // color: $color-white;
}

.winners-header {
  border-bottom: 2px solid $color-gray-neutral;

  margin-bottom: $base-padding;
  padding-bottom: $base-padding-lite;
}

.winners-header_name {
  @extend h3;
  font-weight: $font-normal;
  text-align: left;
}

.winners-header_bid {
  font-weight: $font-normal;
  text-align: left;
}

@include media($medium-screen) {
  .winners-header_name {
    font-size: $base-font-size;
    line-height: $base-line-height;
    margin: 0;
  }

  .winners-header_bid {
    text-align: right;
  }
}


.winners-list-item .issue-bid-details {
  background-color: $branding-light;
  color: $branding-darkest;
}

.winners-list-item .issue-bids-info-item {
  float: right;
  margin-right: 0;
}

.winners-heading {
  float: left;
}

.winners-filter {
  float: right;
}
