.hero-metrics_wrapper {
  padding-bottom: $site-margins;
}

.hero-metric {
  padding: $base-padding;
  text-align: center;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    background-color: $branding-bright;
    border-radius: $border-radius;
    color: $color-white;
    text-decoration: none;

    &:nth-child(2),
    &:nth-child(6) {
      background-color: $branding-darkest;
    }

    &:nth-child(3) {
      background-color: $branding-light;
      color: $branding-darkest;
    }

    &:nth-child(4) {
      background-color: $branding-medium;
    }
  }

  @media screen and (max-width: $medium-screen) {
   @include span-columns(6);

   &:nth-child(2n) {
    @include omega();
   }
  }

  @media screen and (min-width: $medium-screen)  {
   @include span-columns(4);

   &:nth-child(3n) {
    @include omega();
   }
  }

  // @include media($jumbo-screen) {
  //  @include span-columns(2);

  //  &:last-child {
  //   @include omega();
  //  }
  // }
}

.hero-metric_number {
  margin-top: 0;
}

.hero-metric_description {
  margin-bottom: 0;
}
